@use "./index.scss" as *;

.app {
	@include flex-column;
	width: 100vw;
	height: 100vh;
	background: $dark-0;
	overflow: hidden;
	.headRow {
		@include flex-row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 32px;
		background: $dark-3;
		padding: 2px 4px;
		z-index: 4;
		.controlButtons {
			width: fit-content;
			height: 100%;
			@include flex-row;
			.headRowBtn {
				@include flex-center;
				width: fit-content;
				height: 100%;
				padding: 4px 8px;
				background: transparent;
				font-size: 14px;
				color: $dark-7;
				border-radius: 4px;
				@include transition(30ms);
				&:disabled {
					opacity: 0.4;
				}
				&:hover {
					background: $dark-2;
				}
				svg {
					height: 18px;
					fill: $svg;
				}
			}
		}
	}
	.main {
		@include flex-row;
		width: 100%;
		height: calc(100% - 32px);
		.headCol {
			position: absolute;
			@include flex-column;
			align-items: center;
			width: 42px;
			height: calc(100% - 32px);
			background: $dark-3;
			padding: 4px 4px;
			border-top: 4px solid $dark-2;
			z-index: 3;
			.headColBtn {
				@include flex-center;
				width: 100%;
				height: 38px;
				padding: 2px;
				background: transparent;
				font-size: 14px;
				color: $dark-7;
				border-radius: 4px;
				margin-bottom: 6px;
				@include transition(30ms);
				&:hover {
					background: $dark-2;
				}
				svg {
					height: 20px;
					fill: $svg;
				}
				&[name="cursor"] {
					svg {
						height: 14px;
					}
				}
				&.active {
					background: $dark-1;
				}
			}
		}
		main {
			width: 100%;
			height: 100%;
			z-index: 1;
			border: 1px solid $dark-2;
			.canvasBox {
				@include flex-column;
				box-shadow: $shadow-darken;
				.handle {
					background: $dark-4;
					cursor: move;
					border-radius: 6px 6px 0 0;
				}
				#canvas {
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
					z-index: 1;
				}
			}
		}
	}
}
