@use "./index.scss" as *;

.controlPanelResizable {
	position: absolute;
	right: 0;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	height: calc(100% - 32px);
	background: $dark-3;
	border-top: 4px solid $dark-2;
	z-index: 1;
	.handleBox {
		@include flex-row;
		justify-content: space-evenly;
		width: 10px;
		height: 100%;
		background: $dark-2;
		cursor: w-resize;
		div {
			width: 1px;
			height: 100%;
			background-color: $dark-5;
		}
	}
	.controlPanel {
		@include flex-column;
		width: calc(100% - 10px);
		height: 100%;
		.controlPanelOptions {
			width: 100%;
			height: fit-content;
			.controlPanelBox {
				@include flex-column;
				width: 100%;
				height: fit-content;
				background: $dark-5;
				margin-top: 4px;
				&:first-child {
					margin: 0;
				}
			}
			.controlPanelOption {
				@include flex-row;
				align-items: center;
				width: 100%;
				height: 36px;
				padding: 0 10px;
				cursor: pointer;
				font-size: 14px;
				color: $dark-7;
				background: transparent;
				@include transition;
				&:hover {
					background: lighten($dark-5, 5%);
				}
			}
			.controlPanelMenu {
				@include flex-row;
				flex-wrap: wrap;
				padding: 6px 10px;
				border-top: 2px solid darken($dark-5, 3%);
				transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
				.controlPanelMenuObject {
					width: fit-content;
					height: fit-content;
					margin-right: 10px;
					cursor: pointer;
					&[name="element"] {
						padding: 10px;
					}
					svg {
						width: 42px;
						height: 42px;
						fill: $dark-6;
						path {
							stroke: $dark-6;
						}
					}
				}
			}
		}
		.controlPanelInfo {
			@include flex-column;
			width: 100%;
			height: fit-content;
			padding: 10px;
			span {
				color: $dark-7;
				font-size: 14px;
				margin-bottom: 4px;
			}
		}
		.controlPanelCurrent {
			@include flex-column;
			width: 100%;
			height: fit-content;
			padding: 10px;
			background: $dark-4;
			.controlPanelCurrentHead {
				width: 100%;
				height: 32px;
				@include flex-row;
				align-items: center;
				justify-content: space-between;
				div {
					@include flex-row;
					width: fit-content;
					height: 100%;
					button {
						width: 32px;
						height: 100%;
						background: $dark-2;
						margin-left: 8px;
						border-radius: 6px;
						padding: 8px;
						box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07);
						svg {
							fill: $svg;
						}
						@include transition(80ms);
						&:hover {
							background: $dark-1;
						}
					}
				}
			}
			.currentPosSizeBox {
				@include flex-row;
				width: 100%;
				margin-top: 12px;
				.currentBox {
					@include flex-column;
					label {
						@include flex-row;
						align-items: center;
						margin-bottom: 10px;
						span {
							width: 24px;
							font-size: 16px;
							color: $dark-8;
						}
						input {
							width: 64px;
							height: 100%;
							@include input-dark-border(1px, 1px, 1px, 1px);
							background: $dark-2;
							border-radius: 6px;
						}
					}
					&:first-child {
						margin-right: 20px;
					}
				}
			}
			.currentColorBox {
				@include flex-column;
				width: 100%;
				height: fit-content;
				h4 {
					color: $dark-8;
				}
				.currentColorMenuBox {
					@include flex-column;
					width: 100%;
					label {
						color: $dark-8;
						font-size: 16px;
						margin: 10px 0 4px 0;
					}
				}
			}
		}
	}
}
